*~
target/
.project
.classpath
.checkstyle
.settings/
.idea/
.patch
.yarn-integrity
.vscode
*.iml
.factorypath
yarn-error.log
.DS_Store
src/main/webapp/javascripts/generated-bundle.js
src/main/webapp/javascripts/app.js
src/main/webapp/javascripts/auth.js
src/main/frontend/node
src/main/frontend/node_modules
src/main/frontend/yarn.lock
src/main/frontend/report
src/main/frontend/coverage
src/main/frontend/storybook-static

#Ignore UI tests related files
ui-tests/.allure
ui-tests/.idea
ui-tests/target
ui-tests/build
ui-tests/allure-results
ui-tests/todo
ui-tests/src/main/resources/local.properties
ui-tests/**/video.properties
out

#Ignore local performance tests
performance/tests/*
performance/hazelcast-simulator-*.tar.gz
performance/hazelcast-simulator-*/*
performance/hazelcast-management-center*.tar.gz
performance/logs/*
